<div class="cal-component" style="display:flex;flex-direction:column;flex:1;">
  <div class="cal-header">
    <button class="btn-icon" data-cal-nav="-1">
      <span data-ic="arrowL" data-size="14"></span>
    </button>
    <div style="font-weight:600;font-size:14px;" data-cal-title></div>
    <button class="btn-icon" data-cal-nav="1" style="transform:rotate(180deg)">
      <span data-ic="arrowL" data-size="14"></span>
    </button>
  </div>
  <div class="cal-grid" style="height:calc(100% - 45px);flex:1;" data-cal-grid>
    <div class="cal-dow">Dom</div>
    <div class="cal-dow">Lun</div>
    <div class="cal-dow">Mar</div>
    <div class="cal-dow">Mié</div>
    <div class="cal-dow">Jue</div>
    <div class="cal-dow">Vie</div>
    <div class="cal-dow">Sáb</div>
  </div>
</div>