<div class="card-solicitud">
  <div class="cs-top">
    <span class="cs-id" data-cs-id></span>
    <span class="cs-middot">·</span>
    <span class="cs-exp" data-cs-exp></span>
    <span class="badges-right" data-cs-badges></span>
  </div>
  <div class="cs-title" data-cs-title></div>
  <div class="cs-meta" data-cs-meta></div>
  <div class="cs-foot">
    <span class="cs-peritos-label">Perito/s:</span>
    <span class="cs-peritos" data-cs-peritos></span>
    <div class="cs-actions" data-cs-actions></div>
  </div>
</div>