<header class="topbar" id="topbar">
    <button class="btn-icon" onclick="toggleSB()"><span data-ic="menu" data-size="18"></span></button>
    
    <div class="breadcrumb">
        <span>Sistema de Gestión</span>
        <span style="display:flex;"><span data-ic="chevR" data-size="13"></span></span>
        <span class="breadcrumb-cur" id="tb-screen-name"></span>
        
        <span id="tb-detail-separator" style="display:none;"><span data-ic="chevR" data-size="13"></span></span>
        <span class="breadcrumb-cur mono" id="tb-detail-id" style="font-size:12px; display:none;"></span>
    </div>
    
    <div class="notif-wrap">
        <button class="btn-icon"><span data-ic="bell" data-size="18"></span></button>
        <span class="notif-dot"></span>
    </div>
</header>